@font-face {
  font-family: 'AllianzSans'; /* Name you'll use in your styles */
  src: url('./fonts/Allianz-Sans.woff2') format('woff2');
  font-weight: normal; /* Or any desired weight */
}

body{
  font-family: 'AllianzSans';
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-bg,.footer-bg,.siteBg{
  background-color: #0071BB;
  color: #ffffff;
}

.footerTextSmall p{
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.footerTextSmall a{
  color: #ffffff;
}

.nav-link{
  color: white;
}

.custOnboarding{
  height: 50vh;
}


/* Target devices with a minimum width of 576px and a maximum width of 767px */
@media only screen and (max-width: 767px) {
  .nav-link{
    color: #000000;
  }
  .custOnboarding{
    height: 20vh;
  }
}