@font-face {
  font-family: 'AllianzSans';
  /* Name you'll use in your styles */
  src: url('./fonts/Allianz-Sans.woff2') format('woff2');
  font-weight: normal;
  /* Or any desired weight */
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'AllianzSans';
  font-size: 1.8rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header-bg,
.footer-bg,
.siteBg {
  background-color: #0071BB;
  color: #ffffff;
}

.footerTextSmall p {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.footerTextSmall a {
  color: #ffffff;
}

.nav-link {
  color: white;
}

.custOnboarding {
  height: 90vh;
}

.mb-30 {
  margin-bottom: 30rem;
}

.bagicText {
  color: #0072BC;
}

.btn {
  background: #f89c30;
  border-radius: 50px;
  color: white;
  letter-spacing: 1px;
  border: 1px solid #f89c30;
  padding: 8px 30px 10px;
  font-size: 1.8rem;
}

.btn:hover {
  background: #f89c30;
  border: 1px solid #f89c30;
}

.labelStyle {
  font-size: 12px;
  margin-bottom: 10px;
  color: #333333;
  font-weight: bold;
}

.fieldBox {
  border: none;
  border-bottom: 1px solid #c5c5c5;
  padding: 7px 10px;
  border-radius: 0px;
  box-sizing: border-box;
  color: #fc8f3d;
  line-height: 20px;
  outline: none;
  font-size: 1.6rem;
}

.fieldBox:focus {
  box-shadow: none;
  color: #fc8f3d;
}

.errorMsg {
  color: #f00;
  font-size: 1.2rem;
  padding: 5px 0 15px;
}

.radioStyle {
  border: 1px solid #ccc;
  padding: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.radioStyle:hover{
  border: 1px solid #f89c30;
}

.radioStyle:hover {
  border-color: 1s ease-in-out #f89c30; /* Animate color change to orange */
  transition: border-color 0.3s ease-in-out; /* Define animation properties */
}

.radioStyle input {
  width: 1.8rem;
  height: 1.8rem;
  position: relative;
  top: 3px;
}

.react-datepicker-wrapper-custom{
  display: block;
}

.navTabsCustom .nav-item{
  width: 50%;
}

.navTabsCustom button{
  padding: 20px;
  width: 100%;
}


.tabContentCustom .tab-content{
  padding: 20px 10px 40px 10px  ;
}

.navTabsCustom .nav-link{
  color: #000000;
}


.navTabsCustom .nav-link.active{
  color: #005596;
  font-weight: bold;
}


.dob-dp .react-datepicker-wrapper{
  width: 100%;
}
.vcenter{
  position: relative;
  top:50%;
  transform: translateY(-50%);
}
/* Target devices with a minimum width of 576px and a maximum width of 767px */
@media only screen and (max-width: 767px) {
  .nav-link {
    color: #000000;
  }

  .custOnboarding {
    height: 30vh;
  }

  .navTabsCustom .nav-link{
    font-size: 1.4rem;  
  }
}